aiofiles==0.8.0
beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
httptools==0.4.0
idna==3.3
multidict==6.0.2
requests==2.27.1
sanic==22.3.2
sanic-routing==22.3.0
soupsieve==2.3.2.post1
urllib3==1.26.9
websockets==10.3
